.color-card {
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #ccc;
  background-color: #f3f3f3;
}

.color-card-headline {
  display: inline;
  padding: 2px 6px;
  background: black;
  color: white;
}

.color-card-hightlight {
  display: inline;
  padding: 2px 6px;
  background: black;
  color: white;
}
