button {
  background-color: #777777;
  margin: 5px;
  color: white;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

button:hover {
  background-color: #4c4c4c;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  transform: scale(1.05);
}

.button--red {
  background-color: red;
}

.button--red:hover {
  background-color: rgb(185, 0, 0);
}

.button--green {
  background-color: green;
}

.button--green:hover {
  background-color: rgb(0, 98, 0);
}

.button--disabled {
  color: #4c4c4c;
  background-color: #777777;
}
